*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
}

.container{
    display: flex;
    min-height: 100vh;
}

.left-column{
    flex :0.5;
    background-image: url(./LoginFront.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 40%;
}

.image-credit{
    color : white;
    text-align: center;
    padding: 10px;
    font-size: 0.8rem;
    opacity: 0.8;
}

.right-column{
    flex:1.5;
    width: 60%;
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:100;
}

.form-header{
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 40px;
    max-width: 700px;
}

.form-container{
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.form-row{
    display: flex;
    gap : 40px;
    margin-bottom: 20px;
}

.form-group{
    flex : 1;
    display: flex;
    flex-direction: column;
}

.form-group.full-width{
    flex : 100%
}

.form-group label{
    font-size: 0.8rem;
    font-weight: 600;
    color:#333;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    margin-bottom: 4px;

}

.form-group input,
.form-group select{
    padding: 10px 12px;
    border: 2px solid #e5e7eb;
    border-radius: 4px;
    font-size: 1rem;
    background-color: white;
}

.form-group input:focus,
.form-group select:focus{
    outline: none;
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px rgba(59,130,246,0.1);
}

.form-group input:invalid:not(:placeholder-shown),
.form-group select:invalid{
    border-color: #ef4444;
}

.form-group input:valid:(not:placeholder-shown){
    border-color: #10b981;
}


.submit-btn {
    background-color: #596D48;
    color: white;
    border: none;
    padding: 14px 40px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    transition: all 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.submit-btn:hover {
    background-color: #4A5C3A;
    transform: translateY(-1px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

    
.login-link {
    margin-top: 25px;
    font-size: 0.95rem;
    color: #333;
}